@font-face {
    font-family: gilroyRegular;
    src: url(../../fonts/Gilroy-Regular.woff) format("webopen"),
      url(../../fonts/Gilroy-Regular.ttf) format("truetype"),
      url(../../fonts/Gilroy-Regular.eoteot?#iefix) format("embedded-opentype");
  }
  @font-face {
    font-family: gilroySemiBold;
    src: url(../../fonts/Gilroy-Semibold.woff) format("webopen"),
      url(../../fonts/Gilroy-Semibold.ttf) format("truetype"),
      url(../../fonts/Gilroy-Semibold.eoteot?#iefix) format("embedded-opentype");
  }